/.idea
/docker/id_rsa
/config/config.json
/config/config.yaml
/data/dummies.json
/build
/dist
.DS_Store
*.pyc
*.pyo
env
env*
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
.pytest_cache/
__pycache__